In [1]:
import pandas as pd
import numpy as np
import os
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [21]:
# Load in neccessary Data.
LA = pd.read_csv('LinkdeIn_Abouts.csv' ,encoding_errors='ignore')
LP = pd.read_csv('LinkdeIn_Publications.csv' ,encoding_errors='ignore')
CEC = pd.read_csv('profiles_final_all.csv')
GS = pd.read_csv('merge.csv')
ASC = pd.read_csv('asc_consolidated_data.csv')

In [22]:
#Rename columns for LinkedIn Publications so column names are in common with CEC and Google Scholar files.
LP = LP.rename(columns={'Descriptions': 'descriptions','Title':'titles','Date':'date'})
LP

,Unnamed: 0,Name,titles,descriptions,date
0,0,Brett Hunter,Time In Flight Podcast,This Podcast looks at what Covid-19 has does t...,30-Oct-20
1,0,David Kepplinger,Analysis of energy intensity in manufacturing ...,NaN,15-Sep-13
2,0,Ilhan Izmirli,"Review of the Paper ""Parsimonious graphs for t...",NaN,8-Mar-22
3,1,Ilhan Izmirli,"Review of the Paper ""Quantum GestART: identify...",NaN,9-Sep-21
4,2,Ilhan Izmirli,Review of the paper “Quasiperiodic Music” by D...,NaN,11-May-21
...,...,...,...,...,...
492,17,Itamara Lochard,“The Economic / Corruption Element in Afghanis...,Presented research / paper on the economic and...,1-May-13
493,18,Itamara Lochard,“The Information / Cyber Element in Afghanista...,Presented research / paper on the information ...,1-May-13
494,19,Itamara Lochard,“The Role of New Media and Technology in Terro...,Presented research / paper on there of new med...,1-May-13
495,0,Robert Latiff,"Future Peace: Technology, Aggression, and the ...",NaN,1-Mar-22
496,1,Robert Latiff,Future War: Preparing for the New Global Battl...,NaN,1-Sep-17

In [23]:
#Rename columns for LinkedIn About sections so column names are in common with CEC and Google Scholar files.
LA = LA.rename(columns={'About': 'descriptions'})
LA

,Unnamed: 0,Name,descriptions
0,0,Ariela Sofer,Professor Ariela Sofer is Interim Divisiona...
1,1,Arthur Pyster,NaN
2,2,Deborah Goodings,NaN
3,3,Abolfazl Safikhani,NaN
4,4,Brett Hunter,NaN
...,...,...,...
195,195,Russell Hansen,Russ is a Cyber Security Program Manager wi...
196,196,Sandra Peake,NaN
197,197,Stone Bond,CISSP candidate ( boot camp completed)Spec...
198,198,Traci Johnson,NaN
199,199,Robert Latiff,Specialties: Technology and Management Cons...

In [24]:
#Rename author column so it is the same name as the CEC name column.
GS = GS.rename(columns={'authors': 'Name'})
GS

,titles,Name,date,source,descriptions,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract
0,joint structural break detection parameter est...,"abolfazl safikhani, ali shojaie",2022/1/2,joint structural break detection parameter est...,assuming stationarity unrealistic many time se...,56.0,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,spatiotemporal modeling yellow taxi demands ne...,"abolfazl safikhani, camille kamga, sandeep mud...",2020/7/1,spatiotemporal modeling yellow taxi demands ne...,spatiotemporal variation demand transportation...,40.0,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,investigation range anxiety safety buffer batt...,"quan yuan, wei hao, haotian su, guanwen bing, ...",2018/6/13,investigation range anxiety safety buffer batt...,drivers tend range anxiety compared driving tr...,40.0,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cyclelength prediction actuated trafficsignal ...,"bahman moghimi, abolfazl safikhani, camille ka...",2018/3/1,cyclelength prediction actuated trafficsignal ...,urban transportation systems traffic signal ma...,31.0,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,nonstationary spatiotemporal modeling progress...,"yue bai, abolfazl safikhani, george michailidis",2020/9/18,nonstationary spatiotemporal modeling progress...,fast transmission rate worldwide made virus im...,23.0,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13278,detecting suspicious behavior surveillance images,"carlotta domeniconi, zoran duric, maurizio fil...",we introduce a novel technique to detect anoma...,detecting suspicious behavior surveillance images,introduce novel technique detect anomalies ima...,NaN,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13279,markerless identification dissimilarities gait...,"wallace lawson, nalini vishnoi, naomi lynn ger...",gait analysis using computer vision techniques...,markerless identification dissimilarities gait...,gait analysis using computer vision techniques...,NaN,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13280,validating accuracy microsoft kinect depth inf...,"sam gelman, nalini vishnoi, zoran duric",conclusionskinect has greater error in depth d...,validating accuracy microsoft kinect depth inf...,conclusions,NaN,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13281,datadriven biomechanical analysis upper trapez...,"qi wei, naomi lynn gerber, zoran duric, paul o...",chronic neck pain affects millions of american...,datadriven biomechanical analysis upper trapez...,chronic neck pain affects millions americans a...,NaN,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13282,workshop chairs introduction,"darius burschka, tat-jen cham, rama chelappa, ...",computer vision as an implementation technolog...,workshop chairs introduction,computer vision implementation technology huma...,NaN,NaN,na,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#take necessary columns from CEC and rename biography column so it is in common with the other files.
CEC = CEC[['Name', 'Biography']].copy()
CEC = CEC.rename(columns={'Biography': 'descriptions'})
CEC

                  Name                                       descriptions
0         Ariela Sofer   Ariela Sofer is interested in nonlinear progr...
1        Arthur Pyster  Throughout his career, Art Pyster has played l...
2     Deborah Goodings   Deborah Goodings is a professor and Associate...
3        Sanjeev Setia  Sanjeev Setia is a professor of computer scien...
4    Giacomo Francisci                                                NaN
..                 ...                                                ...
300         Stone Bond                                                NaN
301     Susan Schleigh                                                NaN
302      Traci Johnson                                                NaN
303      Joseph Kobsar                                                NaN
304      Robert Latiff                                                NaN

[305 rows x 2 columns]

In [26]:
#Combine Subjects, Keywords, and Abstract columns and rename column names.
ASC = ASC.replace({np.nan: 'None'})
ASC['descriptions'] = ASC['Subjects']+ ';' + ASC['Keywords']+ ';' +ASC['Abstract']
ASC = ASC[['Article Title','Author', 'descriptions','Publication Date']].copy() 
ASC = ASC.rename(columns={'Article Title': 'titles','Author':'Name','Publication Date':'date'})

In [27]:
ASC

,titles,Name,descriptions,date
0,Rescuing Prometheus: Four Monumental Projects ...,Aditya Johri,HISTORY of technological innovations; NONFICTI...,16-Oct
1,Autonomous Visual Perception for Unmanned Surf...,Aditya Johri,AUTONOMOUS vehicles; COMPUTER vision; PATTERN ...,19-May
2,Enhanced energy storage performance and therma...,Aditya Johri,HEAT storage; RELAXOR ferroelectrics; THERMAL ...,21-Jun
3,High energy storage performances of Bi1−xSmxFe...,Aditya Johri,LEAD-free ceramics; ENERGY storage; BISMUTH co...,19-Jul
4,High-Performance Nonequilibrium InSb PIN Infra...,Aditya Johri,PIN photodiodes; PHOTODETECTORS; CURRENT densi...,19-Mar
...,...,...,...,...
740,Modeling Human-in-the-Loop Security Analysis a...,Yue Wang,MATHEMATICAL models of decision making; WORKFL...,14-Jan
741,Reasoning with advanced policy rules and its a...,Yue Wang,ACCESS control; COMPUTER security; INFORMATION...,2004
742,Removing Permissions in the Flexible Authoriza...,Yue Wang,COMPUTER security; SECURITY systems; DATA prot...,3-Sep
743,Securing the ZigBee Protocol in the Smart Grid.,Yue Wang,COMPUTER network protocols; CYBERTERRORISM; CO...,12-Apr
744,SPUTERS: An Integrated Traffic Surveillance an...,Yue Wang,INFORMATION storage & retrieval systems; TRAFF...,Jan-Mar2005

In [28]:

#Concat data into one dataframe
data_concat = pd.concat([CEC,GS,ASC,LP,LA],ignore_index = True,sort=False)

In [29]:
#Replace empty cells or cells with messy data from scrapping with NAN
data_concat = data_concat.replace(r'^\s*$', np.nan, regex=True)
data_concat = data_concat.fillna('NNN/AAA')
data_concat = data_concat.apply(lambda x: x.astype(str).str.lower())
data_concat

,Name,descriptions,titles,date,source,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract,Unnamed: 0
0,ariela sofer,ariela sofer is interested in nonlinear progr...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
1,arthur pyster,"throughout his career, art pyster has played l...",nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
2,deborah goodings,deborah goodings is a professor and associate...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
3,sanjeev setia,sanjeev setia is a professor of computer scien...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
4,giacomo francisci,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,russell hansen,russ is a cyber security program manager wi...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,195.0
15026,sandra peake,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,196.0
15027,stone bond,cissp candidate ( boot camp completed)spec...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,197.0
15028,traci johnson,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,198.0
15029,robert latiff,specialties: technology and management cons...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,199.0

In [30]:
#Remove whitesapce, -, and " from desciptions
data_concat['descriptions'] = data_concat['descriptions'].str.replace('\W', ' ', regex=True)# Removing special characters
data_concat['descriptions'] = data_concat['descriptions'].str.replace('-', ' ')
data_concat['descriptions'] = data_concat['descriptions'].str.replace('"', '')
data_concat

,Name,descriptions,titles,date,source,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract,Unnamed: 0
0,ariela sofer,ariela sofer is interested in nonlinear progr...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
1,arthur pyster,throughout his career art pyster has played l...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
2,deborah goodings,deborah goodings is a professor and associate...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
3,sanjeev setia,sanjeev setia is a professor of computer scien...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
4,giacomo francisci,nnn aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,russell hansen,russ is a cyber security program manager wi...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,195.0
15026,sandra peake,nnn aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,196.0
15027,stone bond,cissp candidate boot camp completed spec...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,197.0
15028,traci johnson,nnn aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,198.0
15029,robert latiff,specialties technology and management cons...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,199.0

In [31]:
#Add additional stop words to list
new_stopwords = ["A", "from", "In", "This", "We","-"] # removing Stop Words
stpwrd = nltk.corpus.stopwords.words('english')
stpwrd.extend(new_stopwords)

In [32]:
#Remove stop words from titles and descriptions
stop = stopwords.words('english') #Removing Stopwords

df2 = data_concat.copy()


df2["titles"] = df2["titles"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stpwrd)]))
df2['descriptions'] = df2['descriptions'].apply(lambda x: ' '.join([word for word in str(x).split() if word not in (stpwrd)]))

df2

,Name,descriptions,titles,date,source,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract,Unnamed: 0
0,ariela sofer,ariela sofer interested nonlinear programming ...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
1,arthur pyster,throughout career art pyster played leading te...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
2,deborah goodings,deborah goodings professor associate dean grad...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
3,sanjeev setia,sanjeev setia professor computer science inter...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
4,giacomo francisci,nnn aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,russell hansen,russ cyber security program manager demonstrat...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,195.0
15026,sandra peake,nnn aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,196.0
15027,stone bond,cissp candidate boot camp completed specialtie...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,197.0
15028,traci johnson,nnn aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,198.0
15029,robert latiff,specialties technology management consulting d...,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,nnn/aaa,199.0

In [33]:
#Removing Special Characters
df2['descriptions'] = df2['descriptions'].map(lambda x: re.sub(r'\W+', ' ', x)) 
df2['titles'] = df2['titles'].map(lambda x: re.sub(r'\W+', ' ', x))
df2['Name'] = df2['Name'].map(lambda x: re.sub(r'\W+', ' ', x))
df2 = df2.replace({'nnn/aaa': np.nan})
df2 = df2.replace({'nnn aaa': np.nan})
df2

,Name,descriptions,titles,date,source,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract,Unnamed: 0
0,ariela sofer,ariela sofer interested nonlinear programming ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,arthur pyster,throughout career art pyster played leading te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,deborah goodings,deborah goodings professor associate dean grad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sanjeev setia,sanjeev setia professor computer science inter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,giacomo francisci,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,russell hansen,russ cyber security program manager demonstrat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0
15026,sandra peake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.0
15027,stone bond,cissp candidate boot camp completed specialtie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
15028,traci johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0
15029,robert latiff,specialties technology management consulting d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199.0

In [34]:
df2 = df2.fillna(value=np.nan)
df2

,Name,descriptions,titles,date,source,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract,Unnamed: 0
0,ariela sofer,ariela sofer interested nonlinear programming ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,arthur pyster,throughout career art pyster played leading te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,deborah goodings,deborah goodings professor associate dean grad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sanjeev setia,sanjeev setia professor computer science inter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,giacomo francisci,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,russell hansen,russ cyber security program manager demonstrat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0
15026,sandra peake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.0
15027,stone bond,cissp candidate boot camp completed specialtie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
15028,traci johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0
15029,robert latiff,specialties technology management consulting d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199.0

In [35]:
#Remove few rows with many question marks
df2 = df2.applymap(lambda x: np.nan if x == '?' else x)
df2

,Name,descriptions,titles,date,source,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract,Unnamed: 0
0,ariela sofer,ariela sofer interested nonlinear programming ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,arthur pyster,throughout career art pyster played leading te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,deborah goodings,deborah goodings professor associate dean grad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sanjeev setia,sanjeev setia professor computer science inter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,giacomo francisci,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,russell hansen,russ cyber security program manager demonstrat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195.0
15026,sandra peake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,196.0
15027,stone bond,cissp candidate boot camp completed specialtie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,197.0
15028,traci johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0
15029,robert latiff,specialties technology management consulting d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199.0

In [36]:
#Remove unncessary columns
df2 = df2.drop(columns=['Unnamed: 0'])
df2

,Name,descriptions,titles,date,source,citations,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link,Article Title,Subjects-Keywords-Abstract
0,ariela sofer,ariela sofer interested nonlinear programming ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,arthur pyster,throughout career art pyster played leading te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,deborah goodings,deborah goodings professor associate dean grad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sanjeev setia,sanjeev setia professor computer science inter...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,giacomo francisci,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15025,russell hansen,russ cyber security program manager demonstrat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15026,sandra peake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15027,stone bond,cissp candidate boot camp completed specialtie...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15028,traci johnson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15029,robert latiff,specialties technology management consulting d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#Adjust name difference from dataframe and CEC names
CEC = pd.read_csv('profiles_final_all.csv')
CEC = CEC.replace({np.nan: 'NNN/AAA'})
CEC = CEC.apply(lambda x: x.astype(str).str.lower())
CEC['Name'] = CEC['Name'].map(lambda x: re.sub(r'\W+', ' ', x))
CEC = CEC.replace({'nnn/aaa': 'N/A'})
CEC.to_csv('loadable_profiles_final_all.csv')
CEC

,Unnamed: 0,Name,Title,Phone Number,Biography,Research Interest,Degrees,Profile Link,Email,Personal Link
0,0,ariela sofer,"associate dean, administration and faculty aff...",703-993-1692,ariela sofer is interested in nonlinear progr...,"optimization,","phd, operations research, george washington u...",https://cec.gmu.edu/profiles/asofer,N/A,http://mason.gmu.edu/~asofer/
1,1,arthur pyster,"associate dean for research and professor, sys...",N/A,"throughout his career, art pyster has played l...",N/A,"phd, computer and information sciences, the o...",https://cec.gmu.edu/profiles/apyster,apyster@gmu.edu,N/A
2,2,deborah goodings,"professor and associate dean, college of engin...",703-933-1504,deborah goodings is a professor and associate...,"geotechnical engineering,","phd, geotechnical engineering, cambridge univ...",https://cec.gmu.edu/profiles/goodings,N/A,N/A
3,3,sanjeev setia,professor\ncomputer science\nschool of computi...,703-993-4098,sanjeev setia is a professor of computer scien...,N/A,N/A,https://cec.gmu.edu/profiles/setia,setia@gmu.edu,http://cs.gmu.edu/~setia/\n
4,4,giacomo francisci,postdoctoral research fellow,N/A,N/A,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...
300,300,stone bond,sr research program manager,N/A,N/A,N/A,N/A,N/A,N/A,N/A
301,301,susan schleigh,senior research engineer,N/A,N/A,N/A,N/A,N/A,N/A,N/A
302,302,traci johnson,research manager,N/A,N/A,N/A,N/A,N/A,N/A,N/A
303,303,joseph kobsar,sr research engineer,N/A,N/A,N/A,N/A,N/A,N/A,N/A
304,304,robert latiff,research professor,N/A,N/A,N/A,N/A,N/A,N/A,N/A

In [38]:
df2 = df2.replace('ã zlem uzuner', 'ozlem uzuner', regex=True)
df2 = df2.replace('ozlem uzuner', 'özlem uzuner', regex=True)

In [39]:
#Save file
df2.to_csv('Final_Data_For_NLP.csv')