In [82]:
import pandas as pd
import os

In [83]:
os.getcwd()

'C:\\Users\\munna\\Desktop\\Final Project\\LinkedIn data'

In [84]:
os.chdir(r'C:\Users\munna\Desktop\Final Project\LinkedIn data')

In [85]:
# reading two csv files
LI_abouts= pd.read_csv(r'C:\Users\munna\Desktop\Final Project\LinkedIn data\LinkdeIn_Abouts.csv' ,engine = 'python')
LI_Links = pd.read_csv(r'C:\Users\munna\Desktop\Final Project\LinkedIn data\LinkdeIn_Links_2.csv',engine = 'python')
LI_Publications = pd.read_csv(r'C:\Users\munna\Desktop\Final Project\LinkedIn data\LinkdeIn_Publications.csv',engine = 'python')

In [86]:
LI_abouts

,Unnamed: 0,Name,About,Unnamed: 3
0,0,Sharon Adamus,NaN,NaN
1,1,Omoche Agada,Information Technology professional with re...,NaN
2,2,Massimiliano Albanese,Computer Scientist working in the field of ...,NaN
3,3,Jan Allbeck,I have had the great opportunity to explore...,NaN
4,4,Matthew Amissah,NaN,NaN
...,...,...,...,...
169,169,Christine Alonzo Yee,NaN,NaN
170,170,Marcos Zampieri,"Computational Linguistics, Natural Language Pr...",NaN
171,171,Kai Zeng,NaN,NaN
172,172,Linghan Zhang,NaN,NaN
173,173,Ziwei Zhu,Assistant Professor at the Department of Compu...,NaN

In [87]:
LI_Links

,Unnamed: 0,Name,Link
0,0,Sharon Adamus,https://www.linkedin.com/in/sharon-adamus?mini...
1,1,Leonard Adelman,NaN
2,2,Omoche Agada,https://www.linkedin.com/in/omoche-cheche-agad...
3,3,Pouyan Ahmadi,NaN
4,4,Massimiliano Albanese,https://www.linkedin.com/in/massimilianoalbane...
...,...,...,...
234,234,Qiang Zeng,NaN
235,235,Linghan Zhang,https://www.linkedin.com/in/linghan-zhang-4b32...
236,236,Xiaokuan Zhang,NaN
237,237,Yutao Zhong,NaN
238,238,Ziwei Zhu,https://www.linkedin.com/in/ziwei-z-a47bb68b?m...

In [88]:
LI_Publications

,Unnamed: 0,Name,Title,Descriptions,Date
0,0,Massimiliano Albanese,Poster: Securing Distributed System Configurat...,Complex distributed systems are inherently dif...,24-Feb-19
1,1,Massimiliano Albanese,DeBot: A Novel Network-based Mechanism to Dete...,Malicious actors use networks of compromised a...,5-Dec-18
2,2,Massimiliano Albanese,From Cyber Situational Awareness to Adaptive C...,"In the cyber security landscape, the asymmetri...",30-Nov-18
3,3,Massimiliano Albanese,A Quantitative Framework to Model Advanced Per...,"In recent years, Advanced Persistent Threats (...",26-Jul-18
4,4,Massimiliano Albanese,Defending from Stealthy Botnets Using Moving T...,"In todayâ€™s IT landscape, organizations are i...",6-Feb-18
...,...,...,...,...,...
369,4,Ningshi Yao,Resolving Contentions for Intelligent Traffic ...,We address the problem of optimally scheduling...,21-Aug-18
370,5,Ningshi Yao,Scheduling feasibility of energy management in...,This chapter studies the operation and schedul...,1-Sep-17
371,6,Ningshi Yao,Monocular vision-based human following on mini...,We present an approach that allows the Georgia...,29-May-17
372,7,Ningshi Yao,Contention resolving optimal priority assignme...,Priority-based scheduling strategies are often...,24-May-17
373,8,Ningshi Yao,Modeling the effect of nanoparticles & the bis...,We present a simple dynamical model for the tr...,6-Jul-16

In [89]:
Combine1 = pd.merge(LI_abouts,LI_Links, 
                   on='Name', 
                   how='outer')

In [90]:
Combine1

,Unnamed: 0_x,Name,About,Unnamed: 3,Unnamed: 0_y,Link
0,0.0,Sharon Adamus,NaN,NaN,0,https://www.linkedin.com/in/sharon-adamus?mini...
1,1.0,Omoche Agada,Information Technology professional with re...,NaN,2,https://www.linkedin.com/in/omoche-cheche-agad...
2,2.0,Massimiliano Albanese,Computer Scientist working in the field of ...,NaN,4,https://www.linkedin.com/in/massimilianoalbane...
3,3.0,Jan Allbeck,I have had the great opportunity to explore...,NaN,5,https://www.linkedin.com/in/jan-allbeck-ab7851...
4,4.0,Matthew Amissah,NaN,NaN,7,https://www.linkedin.com/in/matthew-amissah-16...
...,...,...,...,...,...,...
234,NaN,Binqian Yin,NaN,NaN,230,NaN
235,NaN,Syed Abbas Zaidi,NaN,NaN,231,NaN
236,NaN,Qiang Zeng,NaN,NaN,234,NaN
237,NaN,Xiaokuan Zhang,NaN,NaN,236,NaN
238,NaN,Yutao Zhong,NaN,NaN,237,NaN

In [92]:
Combine1.to_csv('Test1.csv')

In [93]:
import numpy as np

In [94]:
Final = Combine1.replace(r'^\s*$', np.nan, regex=True)

In [95]:
Final

,Unnamed: 0_x,Name,About,Unnamed: 3,Unnamed: 0_y,Link
0,0.0,Sharon Adamus,NaN,NaN,0,https://www.linkedin.com/in/sharon-adamus?mini...
1,1.0,Omoche Agada,Information Technology professional with re...,NaN,2,https://www.linkedin.com/in/omoche-cheche-agad...
2,2.0,Massimiliano Albanese,Computer Scientist working in the field of ...,NaN,4,https://www.linkedin.com/in/massimilianoalbane...
3,3.0,Jan Allbeck,I have had the great opportunity to explore...,NaN,5,https://www.linkedin.com/in/jan-allbeck-ab7851...
4,4.0,Matthew Amissah,NaN,NaN,7,https://www.linkedin.com/in/matthew-amissah-16...
...,...,...,...,...,...,...
234,NaN,Binqian Yin,NaN,NaN,230,NaN
235,NaN,Syed Abbas Zaidi,NaN,NaN,231,NaN
236,NaN,Qiang Zeng,NaN,NaN,234,NaN
237,NaN,Xiaokuan Zhang,NaN,NaN,236,NaN
238,NaN,Yutao Zhong,NaN,NaN,237,NaN

In [96]:
Final.to_csv('Test2.csv')

In [97]:
Final.isnull()

     Unnamed: 0_x   Name  About  Unnamed: 3  Unnamed: 0_y   Link
0           False  False   True        True         False  False
1           False  False  False        True         False  False
2           False  False  False        True         False  False
3           False  False  False        True         False  False
4           False  False   True        True         False  False
..            ...    ...    ...         ...           ...    ...
234          True  False   True        True         False   True
235          True  False   True        True         False   True
236          True  False   True        True         False   True
237          True  False   True        True         False   True
238          True  False   True        True         False   True

[239 rows x 6 columns]

In [98]:
Final.isnull().sum()

Unnamed: 0_x     65
Name              0
About           150
Unnamed: 3      239
Unnamed: 0_y      0
Link             65
dtype: int64

In [99]:
Final1=Final.fillna('N/A')

In [100]:
Final1

,Unnamed: 0_x,Name,About,Unnamed: 3,Unnamed: 0_y,Link
0,0,Sharon Adamus,N/A,N/A,0,https://www.linkedin.com/in/sharon-adamus?mini...
1,1,Omoche Agada,Information Technology professional with re...,N/A,2,https://www.linkedin.com/in/omoche-cheche-agad...
2,2,Massimiliano Albanese,Computer Scientist working in the field of ...,N/A,4,https://www.linkedin.com/in/massimilianoalbane...
3,3,Jan Allbeck,I have had the great opportunity to explore...,N/A,5,https://www.linkedin.com/in/jan-allbeck-ab7851...
4,4,Matthew Amissah,N/A,N/A,7,https://www.linkedin.com/in/matthew-amissah-16...
...,...,...,...,...,...,...
234,N/A,Binqian Yin,N/A,N/A,230,N/A
235,N/A,Syed Abbas Zaidi,N/A,N/A,231,N/A
236,N/A,Qiang Zeng,N/A,N/A,234,N/A
237,N/A,Xiaokuan Zhang,N/A,N/A,236,N/A
238,N/A,Yutao Zhong,N/A,N/A,237,N/A

In [101]:
Final1.to_csv('Final1.csv')

In [128]:
Combine2 = pd.merge(LI_Publications,Final1, 
                   on='Name', 
                   how='left')

In [129]:
Combine2

,Unnamed: 0,Name,Title,Descriptions,Date,Unnamed: 0_x,About,Unnamed: 3,Unnamed: 0_y,Link
0,0,Massimiliano Albanese,Poster: Securing Distributed System Configurat...,Complex distributed systems are inherently dif...,24-Feb-19,2,Computer Scientist working in the field of ...,N/A,4.0,https://www.linkedin.com/in/massimilianoalbane...
1,1,Massimiliano Albanese,DeBot: A Novel Network-based Mechanism to Dete...,Malicious actors use networks of compromised a...,5-Dec-18,2,Computer Scientist working in the field of ...,N/A,4.0,https://www.linkedin.com/in/massimilianoalbane...
2,2,Massimiliano Albanese,From Cyber Situational Awareness to Adaptive C...,"In the cyber security landscape, the asymmetri...",30-Nov-18,2,Computer Scientist working in the field of ...,N/A,4.0,https://www.linkedin.com/in/massimilianoalbane...
3,3,Massimiliano Albanese,A Quantitative Framework to Model Advanced Per...,"In recent years, Advanced Persistent Threats (...",26-Jul-18,2,Computer Scientist working in the field of ...,N/A,4.0,https://www.linkedin.com/in/massimilianoalbane...
4,4,Massimiliano Albanese,Defending from Stealthy Botnets Using Moving T...,"In todayâ€™s IT landscape, organizations are i...",6-Feb-18,2,Computer Scientist working in the field of ...,N/A,4.0,https://www.linkedin.com/in/massimilianoalbane...
...,...,...,...,...,...,...,...,...,...,...
369,4,Ningshi Yao,Resolving Contentions for Intelligent Traffic ...,We address the problem of optimally scheduling...,21-Aug-18,165,Experienced Researcher with a 7-year history o...,N/A,224.0,https://www.linkedin.com/in/ningshi-yao-799455...
370,5,Ningshi Yao,Scheduling feasibility of energy management in...,This chapter studies the operation and schedul...,1-Sep-17,165,Experienced Researcher with a 7-year history o...,N/A,224.0,https://www.linkedin.com/in/ningshi-yao-799455...
371,6,Ningshi Yao,Monocular vision-based human following on mini...,We present an approach that allows the Georgia...,29-May-17,165,Experienced Researcher with a 7-year history o...,N/A,224.0,https://www.linkedin.com/in/ningshi-yao-799455...
372,7,Ningshi Yao,Contention resolving optimal priority assignme...,Priority-based scheduling strategies are often...,24-May-17,165,Experienced Researcher with a 7-year history o...,N/A,224.0,https://www.linkedin.com/in/ningshi-yao-799455...
373,8,Ningshi Yao,Modeling the effect of nanoparticles & the bis...,We present a simple dynamical model for the tr...,6-Jul-16,165,Experienced Researcher with a 7-year history o...,N/A,224.0,https://www.linkedin.com/in/ningshi-yao-799455...

In [120]:
Combine2.to_csv('Test2.csv')

In [121]:
LinkedIn_Data=Combine2.fillna('N/A')

In [122]:
LinkedIn_Data

,Unnamed: 0,Name,Title,Descriptions,Date,Unnamed: 0_x,About,Unnamed: 3,Unnamed: 0_y,Link
0,0,Massimiliano Albanese,Poster: Securing Distributed System Configurat...,Complex distributed systems are inherently dif...,24-Feb-19,2,Computer Scientist working in the field of ...,N/A,4,https://www.linkedin.com/in/massimilianoalbane...
1,1,Massimiliano Albanese,DeBot: A Novel Network-based Mechanism to Dete...,Malicious actors use networks of compromised a...,5-Dec-18,2,Computer Scientist working in the field of ...,N/A,4,https://www.linkedin.com/in/massimilianoalbane...
2,2,Massimiliano Albanese,From Cyber Situational Awareness to Adaptive C...,"In the cyber security landscape, the asymmetri...",30-Nov-18,2,Computer Scientist working in the field of ...,N/A,4,https://www.linkedin.com/in/massimilianoalbane...
3,3,Massimiliano Albanese,A Quantitative Framework to Model Advanced Per...,"In recent years, Advanced Persistent Threats (...",26-Jul-18,2,Computer Scientist working in the field of ...,N/A,4,https://www.linkedin.com/in/massimilianoalbane...
4,4,Massimiliano Albanese,Defending from Stealthy Botnets Using Moving T...,"In todayâ€™s IT landscape, organizations are i...",6-Feb-18,2,Computer Scientist working in the field of ...,N/A,4,https://www.linkedin.com/in/massimilianoalbane...
...,...,...,...,...,...,...,...,...,...,...
369,4,Ningshi Yao,Resolving Contentions for Intelligent Traffic ...,We address the problem of optimally scheduling...,21-Aug-18,165,Experienced Researcher with a 7-year history o...,N/A,224,https://www.linkedin.com/in/ningshi-yao-799455...
370,5,Ningshi Yao,Scheduling feasibility of energy management in...,This chapter studies the operation and schedul...,1-Sep-17,165,Experienced Researcher with a 7-year history o...,N/A,224,https://www.linkedin.com/in/ningshi-yao-799455...
371,6,Ningshi Yao,Monocular vision-based human following on mini...,We present an approach that allows the Georgia...,29-May-17,165,Experienced Researcher with a 7-year history o...,N/A,224,https://www.linkedin.com/in/ningshi-yao-799455...
372,7,Ningshi Yao,Contention resolving optimal priority assignme...,Priority-based scheduling strategies are often...,24-May-17,165,Experienced Researcher with a 7-year history o...,N/A,224,https://www.linkedin.com/in/ningshi-yao-799455...
373,8,Ningshi Yao,Modeling the effect of nanoparticles & the bis...,We present a simple dynamical model for the tr...,6-Jul-16,165,Experienced Researcher with a 7-year history o...,N/A,224,https://www.linkedin.com/in/ningshi-yao-799455...

In [123]:
LinkedIn_Data.to_csv('LinkedIn_Data.csv')

In [124]:
LinkedIn_Final = LinkedIn_Data.drop(columns=['Unnamed: 0_x','Unnamed: 0_y', 'Unnamed: 3','Unnamed: 0'])

In [125]:
LinkedIn_Final

,Name,Title,Descriptions,Date,About,Link
0,Massimiliano Albanese,Poster: Securing Distributed System Configurat...,Complex distributed systems are inherently dif...,24-Feb-19,Computer Scientist working in the field of ...,https://www.linkedin.com/in/massimilianoalbane...
1,Massimiliano Albanese,DeBot: A Novel Network-based Mechanism to Dete...,Malicious actors use networks of compromised a...,5-Dec-18,Computer Scientist working in the field of ...,https://www.linkedin.com/in/massimilianoalbane...
2,Massimiliano Albanese,From Cyber Situational Awareness to Adaptive C...,"In the cyber security landscape, the asymmetri...",30-Nov-18,Computer Scientist working in the field of ...,https://www.linkedin.com/in/massimilianoalbane...
3,Massimiliano Albanese,A Quantitative Framework to Model Advanced Per...,"In recent years, Advanced Persistent Threats (...",26-Jul-18,Computer Scientist working in the field of ...,https://www.linkedin.com/in/massimilianoalbane...
4,Massimiliano Albanese,Defending from Stealthy Botnets Using Moving T...,"In todayâ€™s IT landscape, organizations are i...",6-Feb-18,Computer Scientist working in the field of ...,https://www.linkedin.com/in/massimilianoalbane...
...,...,...,...,...,...,...
369,Ningshi Yao,Resolving Contentions for Intelligent Traffic ...,We address the problem of optimally scheduling...,21-Aug-18,Experienced Researcher with a 7-year history o...,https://www.linkedin.com/in/ningshi-yao-799455...
370,Ningshi Yao,Scheduling feasibility of energy management in...,This chapter studies the operation and schedul...,1-Sep-17,Experienced Researcher with a 7-year history o...,https://www.linkedin.com/in/ningshi-yao-799455...
371,Ningshi Yao,Monocular vision-based human following on mini...,We present an approach that allows the Georgia...,29-May-17,Experienced Researcher with a 7-year history o...,https://www.linkedin.com/in/ningshi-yao-799455...
372,Ningshi Yao,Contention resolving optimal priority assignme...,Priority-based scheduling strategies are often...,24-May-17,Experienced Researcher with a 7-year history o...,https://www.linkedin.com/in/ningshi-yao-799455...
373,Ningshi Yao,Modeling the effect of nanoparticles & the bis...,We present a simple dynamical model for the tr...,6-Jul-16,Experienced Researcher with a 7-year history o...,https://www.linkedin.com/in/ningshi-yao-799455...

In [126]:
LinkedIn_Final.to_csv('LinkedIn_Final.csv')